---
import { getCollection } from "astro:content";
import MarkdownLayout from "@layouts/MarkdownLayout.astro";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

import IconDate from "@components/icons/date.astro";
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MarkdownLayout title={entry.data.title}>
  <div class="mb-4">
    <div id="title">
      <div id="title" class="py-2 my-2 text-2xl font-semibold font-din sm:my-4 text-gray-900 dark:text-gray-200">
        {entry.data.title}
      </div>
    </div>
    <div id="info" class="flex space-x-2 mb-4 text-xs text-gray-600 font-sans dark:text-gray-300">
      <div class="flex items-center space-x-1">
        <span><IconDate class_="w-5 h-5" /></span>
        <span>{dayjs(entry.data.date).format("YYYY-MM-DD HH:mm:ss")}</span>
      </div>
      <div class="flex items-center space-x-1 font-mono">
        {entry.data.tags.map((t) => <div class="border rounded-md p-1 mx-1 before:content-['#']">{t}</div>)}
      </div>
    </div>
  </div>
  <div>
    <Content />
  </div>
</MarkdownLayout>
