---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout page_title="Liuxs' Blog">
  <div class="flex items-center justify-center h-full">
    <div id="profile" class="flex flex-col items-center">
      <div class="avatar">
        <div class="w-28 mask mask-squircle" transition:animate="slide">
          <img src="/logo.webp" />
        </div>
      </div>
      <div class="font-din shrink-0">
        <a href="/blog" role="button" class="btn btn-wide mt-4">Read My Blog</a>
      </div>
    </div>
  </div>
</BaseLayout>
