---
import MarkdownLayout from "@layouts/MarkdownLayout.astro";
import DoubanItemList from "@components/DoubanItem.astro";
const watching_resp = await fetch("https://api.liuxs.pro/douban/watching?userid=53470329");
const watching = await watching_resp.json();

interface doubanItem {
  title: string;
  date: string;
  pic: string;
  url: string;
}

// const status_resp = await fetch("");
// const status = await status_resp.json();

const wish_resp = await fetch("https://api.liuxs.pro/douban/wish?userid=53470329");
const wish = await wish_resp.json();
---

<MarkdownLayout title="书·影·音">
  <h1>我的书影音</h1>
  <div>
    <h2>在看 <span class="px-2 text-sm rounded-md bg-sky-400 font-din">{watching.count}</span></h2>
    <DoubanItemList Items={watching["items"]} action="开始观看" />
  </div>
  <div>
    <h2>想看 <span class="px-2 text-sm rounded-md bg-sky-400 font-din">{wish.count}</span></h2>
    <DoubanItemList Items={wish["items"]} action="标记为想看" />
  </div>
</MarkdownLayout>
