---
import MarkdownLayout from "@layouts/MarkdownLayout.astro";
import DoubanItemList from "@components/DoubanItem.astro";
const watching_resp = await fetch("https://api.liuxs.pro/douban/watching?userid=53470329");
const watching = await watching_resp.json();

// const status_resp = await fetch("");
// const status = await status_resp.json();

const wish_resp = await fetch("https://api.liuxs.pro/douban/wish?userid=53470329");
const wish = await wish_resp.json();
---

<MarkdownLayout title="书·影·音">
  <h1>我的书影音</h1>
  <div role="tablist" class="tabs tabs-bordered">
    <input
      type="radio"
      name="my_tabs_1"
      role="tab"
      class="tab w-4 whitespace-nowrap"
      aria-label={"在看 " + watching.count}
    />
    <div role="tabpanel" class="tab-content pt-4">
      <DoubanItemList Items={watching["items"]} action="开始观看" />
    </div>

    <input
      type="radio"
      name="my_tabs_1"
      role="tab"
      class="tab w-4 whitespace-nowrap"
      aria-label={"想看 " + wish.count}
      checked="checked"
    />
    <div role="tabpanel" class="tab-content pt-4">
      <DoubanItemList Items={wish["items"]} action="标记为想看" />
    </div>
  </div>
</MarkdownLayout>
