---
import IconSun from "@components/icons/sun.astro";
import IconMoon from "@components/icons/moon.astro";
---

<div class="flex">
  <label class="swap swap-rotate">
    <input type="checkbox" id="theme-toggle" />
    <IconSun class_="swap-on w-5 h-5 stroke-base-content" />
    <IconMoon class_="swap-off w-5 h-5 stroke-base-content" />
  </label>
</div>

<script>
  function apply_theme() {
    const current_theme = localStorage.getItem("theme");
    const btn_toggle_theme = document.querySelector("#theme-toggle") as HTMLInputElement;
    //如果localStorage存了主题信息，则根据主题信息设置
    if (current_theme) {
      // console.log("current theme:", current_theme);
      if (current_theme == "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
        btn_toggle_theme.checked = true;
      } else {
        document.documentElement.setAttribute("data-theme", "light");
        btn_toggle_theme.checked = false;
      }
    } else {
      //否则查询系统设置
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        localStorage.theme = "dark";
        document.documentElement.setAttribute("data-theme", "dark");
      } else {
        localStorage.theme = "light";
        document.documentElement.setAttribute("data-theme", "light");
      }
    }
  }
  function toggle_theme() {
    const btn_toggle_theme = document.querySelector("#theme-toggle") as HTMLInputElement;
    const current_theme = localStorage.getItem("theme");
    if (current_theme) {
      if (current_theme == "dark") {
        document.documentElement.setAttribute("data-theme", "light");
        localStorage.theme = "light";
        btn_toggle_theme.checked = false;
        // console.log("change theme to light", current_theme);
      } else {
        document.documentElement.setAttribute("data-theme", "dark");
        localStorage.theme = "dark";
        btn_toggle_theme.checked = true;
        // console.log("change theme to dark", current_theme);
      }
    }
  }

  document.addEventListener("astro:page-load", () => {
    apply_theme();
    const btn_toggle_theme = document.querySelector("#theme-toggle") as HTMLInputElement;
    btn_toggle_theme?.addEventListener("change", function () {
      toggle_theme();
      // console.log("theme changed");
    });
  });
</script>
