---
import dayjs from "dayjs";
const now = dayjs();
const formattedDate = now.format("YYYY/MM/DD HH:mm:ss");
---

<footer class="flex justify-center text-xs text-base-content">
  <div class="py-2 font-din">
    <div class="text-center">
      <span itemprop="copyrightYear">© 2019-2024 Liuxspro |</span>
      <span>CC-BY-NC-4.0</span>
    </div>
    <div>
      Powered by
      <a href="https://astro.build/" target="_blank" rel="noopener noreffer" class="text-success hover:underline">
        {Astro.generator}
      </a>
      <span>| Source code:</span>
      <a
        href="https://github.com/liuxspro/liuxs.pro"
        target="_blank"
        rel="noopener noreffer"
        class="text-success hover:underline">liuxs.pro</a
      >
      <div class="text-center"><span>Build At:{formattedDate}</span></div>
    </div>
  </div>
</footer>
