<footer class="flex justify-center text-xs text-gray-600 dark:text-gray-300">
  <div class="py-2">
    <div class="text-center font-din">
      <span itemprop="copyrightYear">© 2022-2023 LIUXS |</span>
      <span>CC-BY-NC-4.0</span>
    </div>
    <div class="font-din">
      Powered by
      <a href="https://astro.build/" target="_blank" rel="noopener noreffer" class="text-green-700 hover:underline">
        {Astro.generator}
      </a>
      <span>| Source code:</span>
      <a
        href="https://github.com/liuxspro/liuxs.pro"
        target="_blank"
        rel="noopener noreffer"
        class="text-green-700 hover:underline">liuxs.pro</a
      >
    </div>
  </div>
</footer>
