---
import DarkThemeSwitch from "./DarkThemeSwitch.astro";
// import ThemeChange from "./ThemeChange.astro";
import "@styles/base.css";
---

<nav
  class="flex items-center justify-between px-4 lg:px-8 py-5 shadow-sm shadow-base-300 bg-base-100 text-base-content"
>
  <div class="font-semibold mx-4 font-din">
    <a href="/">Liuxs' Blog</a>
  </div>
  <div id="menu" class="flex lg:pr-16 font-din items-center">
    <ul class="flex items-center space-x-4 mx-4">
      <li>
        <a href="/blog">Posts</a>
      </li>
    </ul>
    <DarkThemeSwitch />
  </div>
</nav>
