---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
interface Props {
  Posts: CollectionEntry<"blog">[];
}
// 渲染文章目录列表
const { Posts } = Astro.props;
---

<div>
  {
    Posts.map((p) => (
      <div class="p-2 border-b border-dashed border-gray-300">
        <a href={`/blog/${p.slug}/`} class="flex justify-between items-center py-2">
          <span class="font-din truncate text-gray-700 text-sm hover:text-gray-900 hover:font-semibold sm:text-base dark:text-cyan-300">
            {p.data.title}
          </span>
          <span class="text-sm font-mono">{dayjs(p.data.date).format("YYYY/MM/DD")}</span>
        </a>
      </div>
    ))
  }
</div>
