---
import PostList from "./PostList.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
  Posts: { [year: number | string]: CollectionEntry<"blog">[] };
}

const { Posts } = Astro.props;
---

<div>
  {
    Object.keys(Posts)
      .reverse()
      .map((year) => (
        <div class="flex-col mb-6 sm:flex">
          <div class="text-xl title-text-color p-2 font-din font-semibold sm:mr-6 sm:text-2xl">{year}</div>
          <div class="posts grow">{<PostList Posts={Posts[year]} />}</div>
        </div>
      ))
  }
</div>
