<!DOCTYPE html>
<html lang="{{ config.default_language }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128.png" />
    <script src="/js/main.js"></script>
    <!-- Katex https://katex.org/docs/autorender.html -->
    <link rel="stylesheet" href="/lib/katex@0.16.4/katex.min.css" />
    <script defer src="/lib/katex@0.16.4/katex.min.js"></script>
    <script defer src="/lib/katex@0.16.4/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    <!-- End Katex -->
    <title>
      {% block title %}
        {{ config.title }}
      {% endblock %}
    </title>
  </head>
  <body>
    <div id="main" class="flex flex-col bg-slate-50 dark:bg-gray-600 min-h-screen">
      <header>
        <nav class="flex items-center px-4 lg:px-8 py-4 bg-slate-50 justify-between shadow-sm shadow-slate-300 dark:bg-gray-600 dark:shadow-slate-700">
          <div class="font-semibold text-cyan-900 mx-4 font-din dark:text-cyan-300">
            <a href="/">{{ config.title }}</a>
          </div>
          <div id="menu" class="flex lg:pr-8">
            <ul class="flex items-center space-x-4 mx-4">
              {% for menu_item in config.extra.menu %}
                <li>
                  <a href="{{ menu_item.link }}" class="text-cyan-900 dark:text-cyan-300">{{ menu_item.name }}</a>
                </li>
              {% endfor %}
            </ul>
            <div id="btn-toggle">
              <div class="inline dark:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-800 dark:stroke-gray-200">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                </svg>
              </div>
              <div class="hidden dark:inline">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:stroke-gray-200">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main class="flex grow shrink-0 justify-center space-x-4">
        <div class="w-11/12 m-4 p-8 sm:w-10/12 lg:w-7/12 dark:text-cyan-300">
          {% block content %}

          {% endblock %}
        </div>
      </main>
      <footer class="flex justify-center text-xs text-gray-600 dark:text-gray-300">
        <div class="py-2">
          <div class="text-center">
            <span itemprop="copyrightYear">© 2022-2023 LIUXS |</span>
            <span>CC-BY-NC-4.0</span>
          </div>
          <div>
            Powered by
            <a href="https://getzola.org/" target="_blank" rel="noopener noreffer" class="text-green-700 hover:underline hover:font-extrabold">Zola</a>
            <span>| Source code:</span>
            <a href="https://github.com/liuxsdev/liuxs.pro" target="_blank" rel="noopener noreffer" class="text-sky-600 hover:underline hover:font-extrabold">liuxs.pro</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
