{% extends 'base.html' %} {% block content %}
  <div class="flex items-center justify-center h-full">
    <div id="profile" class="flex flex-col items-center">
      <div class="avatar">
        <div class="w-28 mask mask-squircle">
          <img src="logo.webp" />
        </div>
      </div>
      <div class="text-lg mt-2">Liu XS</div>
      <div class="font-din shrink-0">
        <a href="/blog" class="block rounded-md text-red-400 bg-slate-300/40 mt-2 px-8 py-2 text-center font-semibold uppercase hover:bg-slate-400/40 dark:text-red-200">Read My Blog</a>
      </div>
    </div>
  </div>
{% endblock %}
