---
import BaseLayout from "./BaseLayout.astro";
import CodeCopy from "@components/CodeCopy.astro";
import "@styles/markdown.css";

const { title } = Astro.props;
---

<BaseLayout page_title={title}>
  <link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet" slot="in_head" />
  <div>
    <article>
      <slot />
    </article>
  </div>
  <CodeCopy />
</BaseLayout>
